@{
	ViewData["title"] = "About";
}
<div class="page-container about-container">
	<h1 class="page-title text-center">About</h1>
	<div class="about-content">
		<h3 class="text-secondary text-center">Idea</h3>
		<p class="text-light text-center">A website where people can find tracks by describing the music, not with genre but with feelings, environment and sound type. This helps people find new music that they would otherwise never hear.</p>
	</div>
	<div class="about-content">
		<h3 class="text-secondary text-center">Why</h3>
		<p class="text-light text-center">Most of the time music cannot be described with just the genre itself, it consists of many feelings, resonates differently with people and is effective in different situations. This website hopefully helps people find music that fits their mood, environment or just the sound they want to hear.</p>
	</div>
</div>

